
html {
  > body {
    #wrapper {
      height: 100%;
      padding-left: 300px;
      > .container-fluid {
        height: 100%;
        position: relative;
        margin-top: 0;
        padding-left: 15px;
        padding-right: 15px;
        margin-right: auto;
        margin-left: auto;
        max-width: 680px;

        > .view-frame {
          display: block;
          min-height: calc(100% - 20px - 20px);
          padding-top: 20px;

          p,li {
            line-height: 1.58;
          }

        }
      }
    }
  }
}

@media only screen and (max-width:768px) {
  html {
    > body {
      > .background {
        width: 100%;
        left: 0;
      }

      #wrapper {
        padding-left: 0px!important;
      }
    }
  }
}
